@charset "utf-8";

html {
	height: 100%;
	margin: 0;
	font-size: 12px;
}
body {
	height: 100%;
	margin: 0 auto;
	color: #000;
	font-size: 100%;
	font-family: "Noto Sans JP";
	letter-spacing: 0.05em;
}
* {
	margin: 0;
}
a {
 text-decoration: none;
}
h1, h2, h3, h4, p, ul {
	margin-block-start: 0;
	margin-block-end: 0;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	padding-inline-start: 0;
}
*, *::before, *::after {
	box-sizing: border-box;
}


.sp-br {
	display: none;
}


.center {
	display: inline-block;
	text-align: center;
}
.admin-bg-color {
	background-color: #d4b8e6;
}
/*-------------------------
 * header.html.twig
 *-------------------------*/
header {
	position: relative;
	height: 72px;
	background-color: #e6f3ff;
	font-size: 28px;
	line-height: 72px;
	color: #2f4f4f;
}
.container {
	padding-left: 16px;

}
.logo {
	color: #2f4f4f;
}
.logo:visited {
	color: #2f4f4f;
}
.header-right ul {
	position: absolute;
	top: 0;
  right: 30px;
	display: table;
	line-height: 72px;
	font-size: 16px;
	font-weight: bold;
	color: #2f4f4f;
	vertical-align: middle;
	list-style-type: none;
}
.header-right ul li {
	display: table-cell;
	padding-left: 16px;
}

/*-------------------------
 * main/other
 *-------------------------*/
main {
	margin: 0 auto;
}
.wrapper {
	width: fit-content;
	min-height: calc(100vh - 72px - 100px);
	margin: 40px auto;
}
h2 {
	font-size: 16px;
}
.msg {
	padding: 8px 16px;
}
.red {
	background-color: #ffbeb3;
	color: red;
}
.green {
	background-color: #a6eda6;
	color: green;
}
.error {
	color: red;
}
dl {
	margin: 8px;
}
dt {
	display: inline-block;
}
dd {
	display: inline-block;
	margin: 0;
}
.top-wrapper {
	display: flex;
	justify-content: space-evenly;
}

/*-------------------------
 * form.html.twig
 *-------------------------*/
.event_form_container {
	width: 380px;
	margin: 40px 0;
}
.event-form {
	margin: 0 auto;
}
.grid {
	display: grid;
	grid-template-columns: 96px 96px 96px 96px;
	grid-template-rows: auto;
	grid-auto-rows: 40 px;
}
.grid-itam {

}
.btn {
	margin: 2px;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #4682b4;
	color: #fff;
	border: none;
	cursor: pointer;
}
.input-label {
	padding: 4px 8px;
	background-color:#87b6e6;
	color: #fff;
	border-radius: 2px;
}
.required::after {
	content: '*';
	color: red;
}
.yesterday, .today {
	padding: 4px 8px;
}
.input-amount:focus {
	border: 2px solid red;
	border-radius: 2px;
	outline: 0;
}
.event-register-btn {
	display: block;
	margin: 16px auto;
	width: 280px;
	height: 80px;
	font-size: 40px;
	line-height: calc(80px - 16px * 2);
	border-radius: 16px;
}
.categories > tr {
	width: 400px;
}
.item-category {
	width: 100px;
}
.category-radio {
	display: none;
}
.category-radio + label {
	width: 96px;
	height: 40px;
	line-height: 40px;
}
.category-radio + label:hover {
	background-color: #cce6ff;
	cursor: pointer;
}
.category-radio:checked,
.category-radio:checked + label,
.category-radio:checked + label > i {
	background-color: #78a2cc;
	color: #fff;
	border: 1px solid #fff;
}
.category-label {
	display: inline-block;
  padding: 4px 8px;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	border-radius: 4px;
}
.other-textarea {
	vertical-align: top;
}

/*-------------------------
 * list.html.twig
 *-------------------------*/
.event-list-container {
	width: 600px;
	margin: 20px auto;
}
#month {
	display: inline-block;
}
.minus-red {
	font-weight: bold;
	color: red;
}
.plus-green {
	font-weight: bold;
	color: green;
}
.item-row {
	height: 28px;
}
.list-other {
	width: 150px;
}
.list-plus, .list-minus {
	width: 72px;
}
.edit, .delete {
	width: 48px;
}
.sp-other {
	display: none;
}
/*-------------------------
 * search_form.html.twig
 *-------------------------*/
.search-form-container {
	margin: 0 auto;
	width: fit-content;
}
.search-btn {
	display: block;
	margin: 16px auto;
	width: 120px;
	height: 40px;
}

/*-------------------------
 * admin
 *-------------------------*/
.font-large {
	font-size: large;
}
.user-table {
	border-collapse: collapse;
	border-color: #333;
}
.user-admin {
	background-color: #ffbeb3;
}
.user-deleted {
	background-color: #a9a9a9;
}
/*-------------------------
 * footer
 *-------------------------*/
footer {
	height: 100px;
	background-color: #e6f3ff;
	text-align: center;
}
.copyright {
	line-height: 100px;
}

/*-------------------------
 * icon
 *-------------------------*/
i {
	width: 30px;
	height: 30px;
	margin-right: 4px;
	padding: 5px;
	background-color: #fff;
	font-size: 20px;
	font-weight: 400;
	border: 1px solid gray;
	border-radius: 50%;
}
.fa-minus::before {
	padding-left: 1px;
}
.fa-plus::before {
	padding-left: 2px;
}

/*-------------------------
 * @media
 *-------------------------*/
@media (max-width: 768px){	
	.sp-none {
		display: none;
	}
	.sp-br {
		display: inline;
	}
	.sp-btn-center {
		text-align: center;
	}


	.top-wrapper {
		display: block;
	}
	.event-form-container {
		margin: 0 20px;
	}


	.grid {
		grid-template-columns: 96px 96px 96px;

	}


	.sp-other {
		display: inline-block;
	}
}

 