main {
	width: 600px;
	margin: 0 auto;
}
.msg {
	height: 40px;
	padding-left: 16px;
	line-height: 40px;
}
.red {
	background-color: #eda6a6;
	color: red;
}
.green {
	background-color: #a6eda6;
	color: green;
}
i {
	width: 16px;
	height: 16px;
	padding: 5px;
	background-color: #fff;
	font-size: 16px;
	font-weight: 400;
	border: 1px solid gray;
	border-radius: 50%;
}
