@charset "utf-8";

html {
	height: 100%;
	margin: 0;
	font-size: 12px;
}
body {
	height: 100%;
	margin: 0 auto;
	color: #000;
	font-size: 100%;
	font-family: "Noto Sans JP";
	letter-spacing: 0.05em;
}
* {
	margin: 0;
}
a {
 text-decoration: none;
}
h1, h2, h3, h4, p, ul {
	margin-block-start: 0;
	margin-block-end: 0;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	padding-inline-start: 0;
}
*, *::before, *::after {
	box-sizing: border-box;
}

header {
	height: 10vh;
	padding-left: 16px;
	background-color: #e6f3ff;
	font-size: 28px;
	line-height: 10vh;
	color: #2f4f4f;
}



main {
	height: calc(100% - 100px);
	margin: 0 auto -100px;

}
.wrapper {
	width: 600px;
	min-height: 100%;
	margin: 40px auto 0;
}
h2 {
	font-size: 16px;
}
.msg {
	padding: 8px 16px;
}
.red {
	background-color: #ffbeb3;
	color: red;
}
.green {
	background-color: #a6eda6;
	color: green;
}
.error {
	color: red;
}
dl {
	margin: 8px auto;
}
dt {
	display: inline-block;
}
dd {
	display: inline-block;
	margin: 0;
}
.top-wrapper {
	display: flex;
	justify-content: space-evenly;
}

/*-------------------------
 * form.html.twig
 *-------------------------*/
.event_form_container {
	width: 380px;
	margin: 40px auto;
}
.event_form {
	margin: 0 auto;
}
.btn {
	margin: 2px;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #4682b4;
	color: #fff;
	border: none;
	cursor: pointer;
}
.input-label {
	padding: 4px 8px;
	background-color:#87b6e6;
	color: #fff;
	border-radius: 2px;
}
.required::after {
	content: '*';
	color: red;
}
.yesterday, .today {
	padding: 4px 8px;
}
.input-amount:focus {
	border: 2px solid red;
	border-radius: 2px;
	outline: 0;
}
.event-register-btn {
	display: block;
	margin: 16px auto;
	width: 280px;
	height: 80px;
	font-size: 40px;
	line-height: calc(80px - 16px * 2);
	border-radius: 16px;
}
.categories > tr {
	width: 400px;
}
.item-category {
	width: 100px;
}
.category-radio {
	display: none;
}
.category-radio + label {
	width: 88px;
	height: 40px;
	line-height: 40px;
}
.category-radio + label:hover {
	background-color: #cce6ff;
	cursor: pointer;
}
.category-radio:checked,
.category-radio:checked + label,
.category-radio:checked + label > i {
	background-color: #78a2cc;
	color: #fff;
	border: 1px solid #fff;
}
.category-label {
	display: inline-block;
  padding: 4px 8px;
	height: 28px;
	line-height: 28px;
	border-radius: 4px;
}
.other-textarea {
	vertical-align: top;
}

/*-------------------------
 * list.html.twig
 *-------------------------*/
.event-list {
	width: 600px;
	margin: 20px auto;
	padding-bottom: 100px;
}
.minus-red {
	font-weight: bold;
	color: red;
}
.plus-green {
	font-weight: bold;
	color: green;
}
.item-row {
	height: 28px;
}
.list-other {
	width: 150px;
}
.list-plus, .list-minus {
	width: 72px;
}
.edit, .delete {
	width: 48px;
}

/*-------------------------
 * footer
 *-------------------------*/
/* .footer-pusher {
	height: 15vh;
} */
footer {
	height: 100px;
	margin-top: -100px;
	background-color: #e6f3ff;
	line-height: 15vh;
	text-align: center;
}
.copyright {
	line-height: 100px;
}

/*-------------------------
 * icon
 *-------------------------*/
i {
	width: 30px;
	height: 30px;
	margin-right: 4px;
	padding: 5px;
	background-color: #fff;
	font-size: 20px;
	font-weight: 400;
	border: 1px solid gray;
	border-radius: 50%;
}
.fa-minus::before {
	padding-left: 1px;
}
.fa-plus::before {
	padding-left: 2px;
}
