<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/5f5276d353.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{constant('lib\\common\\Bootstrap::APP_URL')}}/css/style.css">
	<title>{{title}} | 家計簿アプリ</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="header-left">
				<h1>家計簿アプリ</h1>
			</div>
		</div>
	</header>
