{% include 'component/header.html.twig' %}


<div class="wrapper">

	{# メッセージ表示 #}
	{% include 'component/message.html.twig' %}
	
	<h2>{{title}}</h2>{# 入出金登録or検索 #}
	
	{% include 'component/error.html.twig' %}

	<h3>CSVユーザー登録</h3>
	<form action="" method="post" enctype="multipart/form-data">
		<input type="hidden" name="token" value="{{token}}">
		<input type="hidden" name="send" value="csv_user_register">

		<input type="file" name="csv">
		<button id="user-csv-register-btn" class="btn send_btn" name="send" value="csv_user_register">登録</button>
	</form>
</div>

{% include 'component/footer.html.twig' %}

