{% include 'component/header.html.twig' %}


<div class="wrapper" style="width: auto;">
	<div class="top-wrapper">
	
		<a class="font-large" href="./member/show.php">ユーザー管理</a><br>
		
		<a class="font-large" href="./csv.php">CSV入出力</a>
		
	</div>
</div>

{% include 'component/footer.html.twig' %}

