{% include 'component/header.html.twig' %}


<div class="wrapper" style="width: auto;">
	<div class="top-wrapper">
	
	<a class="font-large" href="./member/show.php">ユーザー管理</a>

	</div>
</div>

{% include 'component/footer.html.twig' %}

