			<div class="header-right">
				{% if session_user_name is defined %}
					<ul>
						<li>{{session_user_name}}さん ログイン中</li>

							<li><a href="{{constant(lib\\common\\Bootstrap::APP_URL)}}/admin/show.php">ユーザー管理</a></li>
							<li><a href="{{constant(lib\\common\\Bootstrap::APP_URL)}}/admin/csv.php">CSV登録</a></li>
							<li><a href="{{constant(lib\\common\\Bootstrap::APP_URL)}}/logout.php">ログアウト</a></li>
					</ul>
				{% endif %}
			</div>
