			<div class="header-right">
				{% if session_user_name is defined %}
					<ul>
						<li>{{session_user_name}}さん ログイン中</li>

						{% if page == member %}
							<li><a href="./show.php">ユーザー管理</a></li>
							<li><a href="../csv.php">CSV登録</a></li>
							<li><a href="../../logout.php">ログアウト</a></li>
						{% else %}
								<li>{{session_user_name}}さん ログイン中</li>
							<li><a href="./member/show.php">ユーザー管理</a></li>
							<li><a href="./csv.php">CSV登録</a></li>
							<li><a href="../logout.php">ログアウト</a></li>
						{% endif %}

					</ul>
				{% endif %}
			</div>
