			<div class="header-right">
				{% if session_user_name is defined %}
					<ul>
						<li>{{session_user_name}}さん ログイン中</li>
						<li><a href="./member/show.php">ユーザー管理</a></li>
						<li><a href="logout.php">ログアウト</a></li>
					</ul>
				{% endif %}
			</div>
