	</main>
	
	<footer class="{% if page is defined and page == 'admin' %} admin-bg-color{% endif %}">
		<p class="copyright">Copyright © 2023 Koruri Araki</p>
	</footer>
	<script>
		function onSignIn(googleUser) {
  		var id_token = googleUser.getAuthResponse().id_token;
			var xhr = new XMLHttpRequest();
			xhr.open('POST', 'https://yourbackend.example.com/tokensignin');
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			xhr.onload = function() {
				console.log('Signed in as: ' + xhr.responseText + ' and token is: ' + id_token);
			};
			{# xhr.send('idtoken=' + id_token); #}
		}

    function onSubmit(token) {
      document.getElementById("recap-form").submit();
    }
 </script>
	<script src="{{constant('lib\\common\\Bootstrap::APP_URL')}}js/main.js"></script>
	<script src="{{constant('lib\\common\\Bootstrap::APP_URL')}}js/validate.js"></script>

</body>
</html>
