	</main>
	
	<footer class="{% if page is defined and page == 'admin' %} admin-bg-color{% endif %}">
		<p class="copyright">Copyright © 2023 Koruri Araki</p>
	</footer>
	<script>
		function onSignIn(googleUser) {
  		var id_token = googleUser.getAuthResponse().id_token;
			var xhr = new XMLHttpRequest();
			xhr.open('POST', 'https://yourbackend.example.com/tokensignin');
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			xhr.onload = function() {
				console.log('Signed in as: ' + xhr.responseText + ' and token is: ' + id_token);
			};
			{# xhr.send('idtoken=' + id_token); #}
		}

    function onSubmit(token) {
      document.getElementById("recap-form").submit();
    }
  </script>
	<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

	{% if page == 'admin' %}
		<script src="../../js/main.js"></script>
		<script src="../../js/validate.js"></script>
	{% else %}
		<script src="../js/main.js"></script>
		<script src="../js/validate.js"></script>
	{% endif %}
</body>
</html>
