			<div class="header-right">
				{% if session_user_name is defined %}
					<ul>
						<li>{{session_user_name}}さん ログイン中</li>
						<li><a href="search.php">検索</a></li>
						<li><a href="logout.php">ログアウト</a></li>
					</ul>
				{% else %}
					<ul>
						<li><a href="index.php">ログイン</a></li>
						<li><a href="register.php">会員登録</a></li>
					</ul>
				{% endif %}
			</div>
