{% include 'component/header.html.twig' %}

<div class="wrapper">

	<h2>{{title}}</h2>

	{% include 'component/message.html.twig' %}

	{% include 'component/error.html.twig' %}

	<form name="form" action="" method="post">
		<input type="hidden" name="send" value="login">
		<dl>
			<dt>メールアドレス</dt><dd><input type="text" name="email" value="{{email}}"></dd>
		</dl>
		<dl>
			<dt>パスワード</dt><dd><input type="password" name="password"></dd>
		</dl>
		<button class="btn send_btn" name="send" value="login">
			ログイン
		</button>
	</form>

</div>


{% include 'component/footer.html.twig' %}

