{% include 'component/header.html.twig' %}

<div class="wrapper">

	<h2>{{title}}</h2>

	{% include 'component/message.html.twig' %}

	{% include 'component/error.html.twig' %}

	<form id="recap-form" name="form" action="" method="post">
		<input type="hidden" name="send" value="login">
		<dl>
			<dt>メールアドレス</dt>
			<br class="sp-br">
			<dd><input type="text" name="email" value="{{email}}"></dd>
		</dl>
		<dl>
			<dt>パスワード</dt>
			<br class="sp-br">
			<dd><input type="password" name="password"></dd>
		</dl>
		<div class="sp-btn-center">
			<button class="btn send_btn g-recaptcha" name="send" value="login"
			data-sitekey="6LeXVFkpAAAAAG3CnnqqDw-CnKZVMGiOTxiuX-gT" data-callback='onSubmit' data-action='submit'>
				ログイン
			</button>
		</div>
	</form>

		<div id="g_id_onload"
				data-client_id="901346269938-5odv55tidr7hhkefogqhqmr3d51jkudl.apps.googleusercontent.com"
        data-callback="handleCredentialResponse">
    </div>
    <div class="g_id_signin" data-type="standard"></div>

</div>


{% include 'component/footer.html.twig' %}
