{% include 'header.html.twig' %}

<main>
	<h2>{{title}}</h2>

	{% include 'component/message.html.twig' %}

	{% include 'component/error.html.twig' %}

	<form action="" method="post">
		<dl>
			<dt>メールアドレス</dt><dd><input type="text" name="email" value="{{email}}"></dd>
			<dt>パスワード</dt><dd><input type="password" name="password"></dd>
		</dl>
		<button class="btn" name="submit" value="login">
			ログイン
		</button>
	</form>
</main>

{% include 'footer.html.twig' %}

