{% include 'component/header.html.twig' %}

<div class="wrapper">

	<h2>{{title}}</h2><!-- 会員本登録 -->

	{% include 'component/message.html.twig' %}
	
	{% include 'component/error.html.twig' %}

	<form  method="post">
		<input type="hidden" name="token" value="{{token}}">
		<input type="hidden" name="email" value="{{email}}">
		<dl>
			<dt>ユーザー名</dt><dd><input type="text" name="user_name"></dd>
			<dt>パスワード</dt><dd><input type="password" name="password"></dd>
			<!-- <dt>アイコン画像</dt><dd><input type="file" name="image"></dd> -->
		</dl>
		<button name="submit" value="register">
			登録
		</button>
	</form>

</div>

{% include 'component/footer.html.twig' %}
