{% include 'component/header.html.twig' %}

<div class="wrapper">

	<h2>{{title}}</h2><!-- 会員本登録 -->

	{% include 'component/message.html.twig' %}
	
	{% include 'component/error.html.twig' %}

	<form name="form" method="post">
		<input type="hidden" name="token" value="{{token}}">
		<input type="hidden" name="send" value="register">
		<input type="hidden" name="email" value="{{email}}">
		<dl>
			<dt>ユーザー名</dt><dd><input id="user_name" type="text" name="user_name"></dd>
			<dt>パスワード</dt><dd><input id="password" type="password" name="password"></dd>
		</dl>
		<button id="main_register_btn" class="send_btn" name="send" value="register">
			登録
		</button>
	</form>

</div>

{% include 'component/footer.html.twig' %}
