{% include 'component/header.html.twig' %}

<div class="wrapper">

	{% include 'component/search_form.html.twig' %}


	<h2>収支</h2>

	{% include 'component/list.html.twig' %}

</div>

{% include 'component/footer.html.twig' %}

