{% include 'component/header.html.twig' %}

<div class="wrapper">

	{% include 'component/error.html.twig' %}


	<a class="center" href="{{link}}">{{page}}へ</a>

</div>

{% include 'component/footer.html.twig' %}

