{% include 'component/header.html.twig' %}

<div class="top-wrapper">

	{% include 'component/form.html.twig' %}

	{% include 'component/list.html.twig' %}

</div>

{% include 'component/footer.html.twig' %}

