{% include 'component/header.html.twig' %}


<div class="wrapper" style="width: auto;">
<div class="top-wrapper">

	{% include 'component/form.html.twig' %}

	{% include 'component/list.html.twig' %}

</div>
</div>

{% include 'component/footer.html.twig' %}

